

<div class="jumbotron text-center">
    <h1>My Likes Page</h1>
    <p>These are the current favorite games: </p>

        <div class='entries'>
            <ol>
                <li><h2>Magic The Gathering</h2></li>
                <li><h2>Clank</h2></li>
                <li><h2>Borderlands</h2></li>
                <li><h2>The Elder Scrolls</h2></li>
                <li><h2>The Isle</h2></li>
                <li><h2>Dark Souls</h2></li>
                <li><h2>Life is Strange</h2></li>
                <li><h2>Left 4 Dead 2</h2></li>
                <li><h2>Terraria</h2></li>
                <li><h2>Betrayal</h2></li>
            </ol>
            <br /><br /><br /><br />
            <a href="/addgame"> Add Game Page</a>
            <br />
            <a href="/login">Log In Page</a>

            <p>I chose to list my favorite games. I chose that topic because I like games a lot. <bry /> It is a mix of tabletop games and video games.</p>
        </div>
        <br>
</div>